header#banner.hero-unit
  .container
    h1 Why don't you bake {{recipe().plural ? 'these' : 'this'}} {{rude ? 'fucking' : ''}}
    a(ng-href='{{recipe().link}}')
      div
        h1.header-link {{recipe().name}}
        img(ng-src='{{recipe().img}}')

.container
  .row
    a(ng-click='nextRecipe()', href='').col-lg-12.big-link {{rude ? 'That looks shit' : 'Show me something else'}}
  .row
    a(href='').col-lg-6.link Something{{rude ? ' fucking' : ''}} savoury
    a(href='').col-lg-6.link {{rude ? 'No fucking gluten' : 'Something without gluten'}}


footer.footer
  .container
    p
      | {{rude ? 'WTFSHIB' : 'WSHIB'}}
      = ' | '
      | Alex Anthony
      = ' | '
      a.little-link The link doesn't{{rude ? ' fucking' : ''}} work
      = ' | '
      a(ng-click='toggleRude()').little-link Be {{rude ? 'more polite' : 'ruder'}}