header#banner.hero-unit
  .container
    h1 Why don't you bake {{recipe().plural ? 'these' : 'this'}} {{rude ? 'fucking' : ''}}
    a(ng-href='{{recipe().link}}')
      div
        h1.header-link {{recipe().name}}
        img(image-src='{{recipe().img}}', loading-src='assets/images/baking.gif').img-responsive.center-block

.container
  .row
    a(ng-click='nextRecipe()', href='').col-lg-12.col-xs-12.big-link {{rude ? 'That looks shit' : 'Show me something else'}}
  .row
    a(href='', ng-click='toggleSweetSavoury()').col-lg-6.col-xs-12.col-md-6.link Something{{rude ? ' fucking' : ''}} {{recipe().sweet ? 'savoury' : 'sweet'}}
    a(href='', ng-click='toggleGlutenFree()').col-lg-6.col-xs-12.col-md-6.link {{glutenFree ? (rude ? 'Give me fucking gluten' : 'Gluten is OK') : (rude ? 'No fucking gluten' : 'Something without gluten')}}


footer.footer
  .container
    p
      span {{rude ? 'WTFSIB' : 'WSIB'}}  |  Alex Anthony  | 
      span
        a(href='', ng-click='markAsBroken()').little-link    The link doesn't{{rude ? ' fucking' : ''}} work
        |   |  
        a(ng-click='toggleRude()').little-link Be {{rude ? 'more polite' : 'ruder'}}