#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
    img {
        max-height: 400px;
    }
}

.footer {
    text-align: center;
    padding: 5px 0;
    margin-top: 30px;
    border-top: 1px solid #E5E5E5;
    span {
        display: inline-block;
    }
}

a {
    color: #ffffff;
    &:hover {
        color: #ffffff;
    }
    &:focus {
        color: #ffffff;
    }
    &:active {
        color: #fff;
    }
    &:visited {
        color: #fff;
    }
}

.header-link {
    @extend a;
    color: #ffffff;
    &:hover {
        color: #ffffff;
    }
    &:focus {
        color: #ffffff;
    }
    &:active {
        color: #fff;
    }
    &:visited {
        color: #fff;
    }
}

.link {
    color: #000;
    text-align: center;
    font-size: 40px;
    &:focus {
        color: #000;
    }
    &:visited {
        color: #000;
    }
    &:hover {
        color: #000;
    }
    &:hover {
        color: #000;
    }
}

.big-link {
    @extend .link;
    font-size: 60px;
}

.little-link {
    @extend .link;
    font-size: 15px;
    margin-top: 20px;
}